<a href="https://colab.research.google.com/github/andininur21/PSDS/blob/main/Perulangan_for_and_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Looping/Perulangan#
Python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while.

#For Loop
Perulangan for digunakan untuk melakukan iterasi di dalam sequence seperti list,tuple,string, dan array atau objek yang dapat diiterasi lainnya.


#Example: Python for Loop

In [2]:
#program untuk menghitung jumlah angka dalam sebuah list
L1 = [2,4,5,7,9]
jumlah = 0

#iterasi di dalam list
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

#The range () Fungction

In [3]:
#Program untuk melakukan iterasi di dalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

#iterasi di dalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

#for loop with else

In [4]:
#contoh for loop menggunakanan else
for i in range(p):
  print(minuman[i])
else:
  print('element sudah habis')

teh
boba
kopi
susu
element sudah habis

Latihan 1

In [5]:
list_tagihan = [25000, 50000, -120000, 125000, 400000, -40000, 250000]
total_tagihan = 0

for i in list_tagihan:
  total_tagihan = total_tagihan + i

print(total_tagihan)

690000

#While Loop#

While loop pada Python digunakan untuk melakukan iterasi pada blok kode selama nilai dari test expression adalah true.

In [6]:
#Program untuk menjumlahkan semua
#bilangan asli hingga suku ke-n
#jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + i
  i = i + 1

print(jumlah)

55

#While loop with else

Sama dengan for loop kita juga dapat mengkombinasikan while loop dengan blok else.

Bagian else akan dieksekusi jika nilai pada test expression pada while loop bernilai False. Perhatikan contoh berikut:

In [7]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) #dieksekusi diluar looping

55

Latihan 2

In [9]:
tagihan = [20000, 50000, 100000, 200000, 400000]
total_tagihan = 0
i = 0
m = len(tagihan)

while i < len(tagihan):
  total_tagihan += tagihan[i]
  i += 1

print(total_tagihan)

770000